/*******
Parallax theme
Author: Erica Dreisbach
Author URI: ericadreisbach.com
Adaptives.
boom kaboom.
*******/



// if portrait
@media screen and (orientation:portrait) {
	#nav>.wrapper>.nav>.location>.subnav>.location {
		width: 48%;
	}
}

// if landscape
@media screen and (orientation:landscape) {
	#nav>.wrapper>.nav>.location>.subnav>.location {
		width: 30%;
	}
}



@media screen and (min-width: 720px) {

	.button {
		font-size: 1.1em;
	}

	.-slightlylarge {
		font-size: 1.2em;
	}

	.-bigpadding {
		padding-top: 4em;
		padding-bottom: 2em;
	}



	#nav>.wrapper>.nav {
		font-size: 1.44em;
	}

	#home>.wrapper>.hometext {
		&>.title {
			font-size: 6em;
		}
		&>.subtitle {
			font-size: 3.2em;
		}
	}

	.septagon {
		-webkit-clip-path: polygon(100% 0, 100% 97%, 52% 97%, 50% 100%, 48% 97%, 0 97%, 0 0);
		clip-path: polygon(100% 0, 100% 97%, 52% 97%, 50% 100%, 48% 97%, 0 97%, 0 0);
	}

	#work>.wrapper>.project .link {
		width: 50%;
	}

	#about>.text>.sectiontitle {
		font-size: 3.66em;
	}
	#about>.wrapper.text>.p {
		font-size: 1.3em;
	}

	#about > .wrapper > .p > .button {
		clear: none;
		display: inline;
	}

	#about > .wrapper > .p > .mobile-break {
		display: inline-block;
		width: 2em;
		height: 0;
	}

	.wrapper.-narrowcol {
		width: 60%;
		margin: 0 20%;
	}

	.wrapper.-verynarrowcol {
		width: 46%;
		margin: 0 27%;
	}


	#skills {
		margin-top: -6em;
		padding-top: 6em;
	}

	#skills>.text {
		&> .title {
			font-size: 2.4em;
		}

		&> .p {
			font-size: 1.44em;
		}
	}



	#contact > .wrapper > .form > .question {
		>.p,
		&>.col > .label {
			font-size: 1.2em;

			&> .-small {
				font-size: .8em;
			}
		}

		// the labels for the radios are a little smaller
		&>.label {
			font-size: 1.1em;
		}
	}

	#contact > .wrapper > .form > .button {
	  font-size: 1.2em;
	}

	#contact > .wrapper > #thankyou {
		font-size: 3em;
	}

	.col-half {
		width: 100%;
	}

	.-bigpadding > .button {
		font-size: 1.44em;
	}

	#social.wrapper>.ul {
		margin-left: 0;
	}
	#social.wrapper>.ul>.li {
		margin: 0 .7em;
	}
	#social.wrapper>.ul>.li>.a {
		font-size: 3em;
	}

	#sitemap {
		display: block;
	}


	// Pages

	.page-title {
	  font-size: 3em;
	}

	.page-buttons {
		width: auto;
		margin-top: 0;
	}

	.page-text {
		&>.-large {
			font-size: 2em;
		}
		&>.-medium {
			font-size: 1.44em;
			line-height: 1.66;
		}
	}

	.owl-theme > .owl-dots > .owl-dot span {
		width: 1em;
		height: 1em;
		@include border-radius(1em);
	}

	#carousel {
		padding: 2em 0 1em;
	}

	#work-image {
	  display: block !important;
	}

	.process > .-a {
		font-size: 1.3em;
	}



	#sitemap>.wrapper>.sitemap-ul {
		width: 50%;
		float: left;
	}
}











@media screen and (min-width: 910px) {

	.wrapper {
		width: 900px;
		margin: 0 auto;
	}

	#social.wrapper>.ul {
		width: 900px;
	}

	#nav > .wrapper {
		width: 96%;
		margin: 0 2%;
	}



	#work {
		&> .wrapper > .project {
			width: 43%;
			float: left;

			&:nth-of-type(2) {
				padding-top: 0;
			}

			&>.title {
				font-size: 1.8em;
			}
			&> .descrip {
				font-size: 1.3em;
			}

			&:nth-of-type(2n-1) {
				margin-right: 14%;
			}

			&> .link {
				width: 100%;
			}
		}
	}
}



@media screen and (min-width: 999px) {

	.page-top {
		padding: 8em 0 3em;
	}

	#nav {
		padding: .5em 0;
		&:before {
			height: 2.2em;
		}
	}

	#nav .navbutton {
		display: none;
	}

	#nav>.wrapper>.nav>.location {
		border: none;
		font-size: .7em;
		letter-spacing: 0;
	}

	#nav>.wrapper>.nav>.location.show,
	#nav>.wrapper>.nav>.location.hover {
		color: red;
	}

	// make the nav easier for mouse users
	#nav>.wrapper>.nav>.location.hover {
		&> a {
			padding-bottom: 1.3em;
			z-index: 599;
			position: relative;
		}
	}

	#nav>.wrapper>.nav>.location.show >.subnav,
	#nav>.wrapper>.nav>.location.hover >.subnav {
		height: auto;
		 top: 3.1em;
		 left: 0;
	}

	#nav>.wrapper>.nav {
		height: auto;
		border: none;
		display: block !important;
		float: right;
		font-size: 1em;
		margin: 0 0 0 1.44em;
	}

	#nav>.wrapper>.nav>.location {
		font-size: .7em;
		padding: 0;
		position: static;
		display: inline;
	}

	#nav>.wrapper>.nav>.location>.link {
		border: none;
		display: inline;
		padding: 0;
		padding: .9em .5em .7em;
	}

	#nav>.wrapper>.nav>.location>.subnav {
		width: 100%;
		height: 0;
		display: block;
		position: absolute;
	 	 top: 1.9em;
	 	 left: -9999em;
	}

	#nav>.wrapper>.nav>.location>.subnav>.location>.link {
		width: 100%;
		border-bottom: 1px solid rgba(0,0,0,.1);
		padding: .4em .8em;
	}

	#nav>.wrapper>.nav>.location>.subnav>.location:last-child {
		padding-bottom: .5em;
	}

	.-lean {
		margin-top: -4em;
		padding-top: 7em;
	}

	.col-half {
		width: 48%;
		clear: none;
	}
	.col-space {
		width: 1%;
	}
}
