/* ------------------------
 Adaptive
------------------------ */



// Small devices (landscape phones, 34em and up)
@media screen and (min-width: 34em) {


  .home .work-section>.container>.row>.work-cell>.a.-awardwinning {
    &:after,
    &:before {
      font-size: 2rem;
    }
  }

  .home .work-section>.container>.row>.work-cell>.a.-awardwinning:before {
    top: 34%;
  }
}






// Medium devices (tablets, 48em and up)
@media (min-width: 48em) {

  .picture {
    background-attachment: fixed;
  }

  .-mobilehideinline {
    display: inline;
  }

  .-mobilehide {
    display: block;
  }

  .-desktophide {
    display: none;
  }

  .-desktopfloatleft {
    display: block;
    float: left;
  }

  .-desktopfloatright {
    display: block;
    float: right;
  }

  .septagon {
    background-attachment: fixed;
    -webkit-clip-path: polygon(100% 0, 100% 97%, 52% 97%, 50% 100%, 48% 97%, 0 97%, 0 0);
  	 clip-path: polygon(100% 0, 100% 97%, 52% 97%, 50% 100%, 48% 97%, 0 97%, 0 0);
  }

  .-ghost {
    display: inline-block;
    font-size: 1.5em;
    margin: 0 .3em;
  }



  //Typography

  .p                   { font-size: 2rem; line-height: 1.666;}

  .p.-medium, .-medium { font-size: 3rem; }


  .home .-pagehead     { font-size: 10rem; }          // h1

  .home .-pagesubhead  { font-size: 5rem;  }         // h2

  .home .-contactsectionhead.-sectionhead { padding-top: 0; }


  .work, .page {
    .-pagehead {
      font-size: 4.8rem;   // h1
    }
    .-pagesubhead {
      font-size: 2.4rem;     // h2
    }
  }

  .-txthead {
    font-size: 3.8rem;     // h3
    padding-top: .5em;
  }

  .-worktitle {
    font-size: 3rem;       // h3
    margin-top: .8em;
    margin-bottom: 0;
  }

  .-workdescrip {
    font-size: 2rem;       // h4
    margin-top: .1em;
  }

  .home .work-section>.container>.row>.work-cell>.a.-awardwinning {
    &:before, &:after {
      width: calc(80% + 2em);
      left: calc(10% - 1em);
    }
  }

  .home .work-section>.container>.row>.work-cell>.a.-awardwinning:before {
     left: calc(10% - 1em);
     top: calc(50% - 3.8em);
  }

  .home .work-section>.container>.row>.work-cell>.a.-awardwinning:after {
    position: absolute;
     top: calc(50% - 4.75em);
    height: 1em;
    background: $red;
    content: '';
    display: block;
    z-index: 0;
    -webkit-clip-path: polygon(0 100%, 10% 0, 90% 0, 100% 100%);
    clip-path: polygon(0 100%, 10% 0, 90% 0, 100% 100%);
  }




  /* * * * * * * * * * * * *
   Home
  * * * * * * * * * * * * */

  .home {
    #top {
      margin-bottom: 50px; // so that #work anchor shows nav
      z-index: 30;         // put the spiderweb image on top of the nav
    }

    .navbar {
      top: -50px;          // nav up out of frame
      @include transition(all,.1s,ease-in-out);

      &.affix {
         top: 0;           // position animation after scroll > #top.height();
        @include transition(all,.1s,ease-in-out);
        z-index: 35;
      }

      &> .nav-container > .navbar-header > .navbar-brand {
        display: block;    // visible branding
      }
    }

    &> .work-section > .container  > .row > .work-cell {
      padding-top: 2em;
      padding-right: 15px;
      padding-bottom: 2em;
      padding-left: 15px;

      &> .a > .img-wrap {
  	     width: 80%;
         margin: 0 auto;
       }
     }

     .about-section > .container {
       padding-top: 4em;
     }

     .skills-section > .container > .row > .col-content > .p {
       font-size: 2.2rem;
      }

      .skills-section > .container {

        &> .row.skill-circles {
          padding-top: 4em;
          padding-bottom: 1em;

          &> .col-circle {
            &.border-bottom {
              border: none;
            }

            &> .circle {
              border: 1px solid black;
              height: 20em;
              width: 20em;
              border-radius: 10em;
              margin: 0 auto;

              &> .-circlewrap {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }


      // Contact

      .contact-section > .container {
        padding-top: 6em;
        padding-bottom: 8em;
      }

      .contact-section .p {
        max-width: 25em;
        margin-right: auto;
        margin-left: auto;
      }

      .contact-section .pform {
        max-width: none;
      }

      #thankyou {
        font-size: 5rem;
      }
   }



  /* * * * * * * * * * * * *
   Nav
  * * * * * * * * * * * * */

  .navbar-default {
    border-bottom: 1px solid rgba(0,0,0,.1);

    .navbar-collapse {
      border-bottom: none;
      position: static;

      &> .navbar-nav {
        padding-top: 0;

        &> li {
          font-size: 2.1rem;      // nav font size

          &> .dropdown-menu {    // dropdown nav borders
            border-top: none;
            border-right: 1px solid rgba(0,0,0,.1);
            border-bottom: 1px solid rgba(0,0,0,.15);
            border-left: 1px solid rgba(0,0,0,.1);

            &> li {
              font-size: 1.85rem;   // subnav font size
            }
          }
        }
      }
    }

    .navbar-brand {          // tweaks to name and logo size for desktop
      &> .navbar-logo {
        width: 2em;
         top: -.4em;
      }

      &> .navbar-name {
        font-size: 3.2rem;
        padding-left: .1em;
      }
    }
  }







  .page, .work {
    padding-top: 6em;
  }


  /* * * * * * * * * * * * *
   Work pages
  * * * * * * * * * * * * */

  .-visit {
    margin-top: 1em;
  }

  .carousel-section {
    padding-top: 4em;
    padding-bottom: 4em;
  }





  /* * * * * * * * * * * * *
   How I Work
  * * * * * * * * * * * * */

  .qna {
    padding: 2em 0;

    &> .q {
      font-size: 3.5rem;
    }
  }


  .socialmedia > .li { font-size: 8rem; }


}




// Large devices (desktops, 62em and up)
@media (min-width: 62em) {
}




// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) {
}
