/*******
Parallax theme
Author: Erica Dreisbach
Author URI: ericadreisbach.com
Adaptives.
boom kaboom.
*******/


@media screen and (min-width: 720px) {

	.button {
		font-size: 1.1em;
	}

	#nav > .wrapper >  .nav {
		display: block;
	}

	#home>.wrapper>.hometext {
		&>.title {
			font-size: 6em;
		}
		&>.subtitle {
			font-size: 3.2em;
		}
	}

	.septagon {
		-webkit-clip-path: polygon(100% 0, 100% 97%, 52% 97%, 50% 100%, 48% 97%, 0 97%, 0 0);
		clip-path: polygon(100% 0, 100% 97%, 52% 97%, 50% 100%, 48% 97%, 0 97%, 0 0);
	}

	#work>.wrapper>.project .link {
		width: 50%;
	}

	#about>.wrapper>.middle>.sectiontitle {
		font-size: 3.66em;
	}
	#about>.wrapper>.middle>.p {
		font-size: 1.3em;
	}
	#skills>.wrapper {
		width: 60%;

		&> .title {
			font-size: 2.4em;
		}

		&> .p {
			font-size: 1.44em;
		}
	}


	// Pages

	.page-buttons {
		width: auto;
		margin-top: 0;
	}

	.page-text {

		&>.-large {
			font-size: 2em;
		}
		&>.-medium {
			font-size: 1.44em;
			line-height: 1.66;
		}
	}

	.owl-theme > .owl-controls .owl-page > span {
		width: 1em;
		height: 1em;
		@include border-radius(1em);
	}

	#carousel {
		padding: 2em 0 1em;
	}


	#sitemap>.wrapper>.nav {
		width: 50%;
		float: left;
	}

}











@media screen and (min-width: 910px) {

	.wrapper {
		width: 900px;
		margin: 0 auto;
	}

	#work {
		&> .wrapper > .project {
			width: 43%;
			float: left;

			&:nth-of-type(2) {
				padding-top: 0;
			}

			&>.title {
				font-size: 1.8em;
			}
			&> .descrip {
				font-size: 1.3em;
			}

			&:nth-of-type(2n-1) {
				margin-right: 14%;
			}

			&> .link {
				width: 100%;
			}
		}
	}
}
