/* ------------------------
 Contact - form controls
------------------------ */

.form-group {
  margin-bottom: 0;
  padding-bottom: 1em;
}

.form-control {
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $halfblack;
  border-left: 0;
  color: black;
  font-size: 1.7rem;
  padding-top: .4em;
  padding-bottom: .4em;
  padding-left: 2px;

  @include border-radius(0);
  @include box-shadow(inset,0,0,0,transparent);
  @include placeholder { color: $halfblack; font-style: italic; }

  &.errorinput {
    background: red;
    padding-left: .3em;
    @include placeholder { color: $halfblack; }
  }
}

.radio {
  margin: 0;
  padding: .5em 0;

  &> label {
    font-size: 1.7rem;
  }
}

.textarea {
  width: 100%;
  border: 1px solid $ashblack;
  font-size: 1.7rem;
  resize: none;
}


#thankyou {
  font-size: 4rem;
  line-height: 1;
  text-align: center;
}

#thankyouphone {
  display: block;
  margin: 0 auto;
}
