/* ------------------------
 Contact - form controls
------------------------ */



.socialmedia {   // ul
  list-style-type: none;
  margin: 0;
  padding: 5em 0 0 0;

  &> .li {
    display: inline-block;
    font-size: 4rem;
    padding: 0 .2em;
  }
}

.home .-contactsectionhead.-sectionhead {
  padding-top: 1em;
  padding-bottom: 0;
  text-transform: none;
}

.-contactp {
  font-size: 1.8rem;
  margin-bottom: 2em;
}

.form {
  padding-bottom: 3em;
}

fieldset.form-group.row > .col-md-6,
fieldset.form-group.norow { position: relative; padding-bottom: 2em; }

.form-group {
  margin-bottom: 0;
  padding-bottom: 0;
}

.form-control {
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $halfblack;
  border-left: 0;
  color: black;
  font-size: 1.7rem;
  padding-top: .4em;
  padding-bottom: .4em;
  padding-left: 2px;

  @include border-radius(0);
  @include box-shadow(inset,0,0,0,transparent);
  @include placeholder { color: $halfblack; font-style: italic; }

  &.error {
    background: red;
    color: black;
    @include placeholder { color: black; }
  }

  /*&.errorinput {
    background: red;
    padding-left: .3em;
    @include placeholder { color: $halfblack; }
  } */
}

label.error {
  padding-top: .2em;
  font-weight: 400;
  font-style: italic;
  color: red;
  position: absolute;
   bottom: 0;
}

.pform {
  padding-top: 1.5rem;
}

.radio {
  margin: 0;
  padding: .5em 0;

  &> label {
    font-size: 1.7rem;
  }
}

.textarea {
  width: 100%;
  border: 1px solid $ashblack;
  font-size: 1.7rem;
  resize: none;
}



/*
#thankyou {
  font-size: 4rem;
  line-height: 1;
  text-align: center;
}

#thankyouphone {
  display: block;
  margin: 0 auto;
}
*/
