/*******
Parallax theme
Author: Erica Dreisbach
Author URI: ericadreisbach.com
Global style.
yuss.
*******/


.noscroll {
	height: 100%;
	overflow: hidden;
}


.hidden {
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
	visibility: hidden;
	position: absolute;
	 left: -9999px;
}

img:not([src]){ display:none; }

$sectionbg: transparent;
$linkcolor: #ff4500;
$contentpadding: 4em 0 6em;

@mixin verticals {
	margin-top: -3em;
	padding-top: 5em;
	padding-bottom: 6em;
}

@mixin leanverticals {
	margin-top: -4em;
	padding-top: 8em;
	padding-bottom: 1em;
}

@mixin workverticals {
	margin-top: 0;
	padding-top: 6em;
	padding-bottom: 6em;
}

.-standard {
	@include verticals;
}

.-lean {
	@include leanverticals;
}

.septagon {
	-webkit-clip-path: polygon(100% 0, 100% 97%, 55% 97%, 50% 100%, 45% 97%, 0 97%, 0 0);
	clip-path: polygon(100% 0, 100% 97%, 55% 97%, 50% 100%, 45% 97%, 0 97%, 0 0);
}

input[type="submit"] {
	-webkit-appearance: none;
}

body {
	font-family: serif;
	margin: 0;
}

.display-table, .display-table-cell {
	height: 100%;
}

.display-table {
	display: table;
}

.display-table-cell {
	display: table-cell;
}

.display-table-cell.middle {
	vertical-align: middle;
}

section {
	width: 100%;
	display: block;
	position: relative;
}

.wrapper {
	width: 96%;
	margin: 0 2%;

	&.-verynarrowcol {
		width: 95%;
	}

	&:after {
		@include clear;
	}
}

.col-half {
	width: 48%;
	float: left;
}

.col-space {
	width: 4%;
	height: 1px;
	float: left;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1;
	margin: 0;
}

.sectiontitle {
	font-size: 3em;
	text-transform: lowercase;
}

h1, h3 {
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

.small {
	font-size: .77em;
}

.-txtcenter {
	text-align: center;
}

.-txtright {
	text-align: right;
}

a {
	border-bottom: 1px dotted #333;
	color: #333;
	text-decoration: none;
	@include transition(all, .1s, ease-in-out);
	@include hover { color: $linkcolor; border-color: transparent; @include transition(all, .1s, ease-in-out); };

	&> img {
		border: 0;
	}
}

.button {
	background: red;
	border: .1em solid red;
	color: white;
	font-family: 'Helvetica NeueLight', sans-serif;
	font-weight: 100;
	padding: .7em 1.7em;
	text-transform: uppercase;
	@include border-radius(1.5em);
	@include transition(all,.2s,ease-in-out);
	@include hover { background: white; border: .1em solid red; color: red; @include transition(all,.2s,ease-in-out); }
}

.-bigpadding {
	padding-top: 4em;
	padding-bottom: 2em;

	&> .button {
		font-size: 1em;
	}
}

.-yellowbg {
	background: orange;
}


// Home

.fadein {
	@include opacity(1);
	@include transition(opacity,1s,ease-in-out);
}

.parallax-mirror.-top {
	background-color: wheat;
}

#home {
	color: #fff;
	text-shadow: 1px 1px 3px #000;
	text-align: center;
	position: absolute;
	 top: 0;

	&> .wrapper > .hometext {
		position: relative;
		 top: -1em;

		&>.title {
			font-size: 4.2em;
		}

	 	&> .subtitle {
			font-family: serif;
			font-size: 2em;
			font-style: italic;
		}
	}
}


// About

#about {
	&> .wrapper.text > .p {
		line-height: 1.44;
	}
	&> .wrapper > .p > .button {
		clear: left;
		display: block;
		position: relative;
		 z-index: 5;
	}
}


// Contact

#contact {
}


// Credits

#credits {

	.p {
		line-height: 1.44;
		margin: 1em 0;
	}
}


// Z-Indices

// down arrown on top (index)
// .downarrow { z-index: 110; }

// erica dreisbach text below down arrow
#home { z-index: 100; }
#web { z-index: 90; }

// the parallax below that
// [spider] .parallax-window { z-index: 90; }

// the nav below that
#nav { z-index: 80; }
