/* ------------------------
 Global - typography and such
------------------------ */

body {
  color: black;
  font-family: serif;
}

.-vertical-middle {
  @include -vertical-middle;
}

.-displaytable {
  display: table;
  width: 100%;
}

.-displaytablecell {
  display: table-cell;
  vertical-align: middle;
}

.-displaytable, .-displaytablecell {
  height: 100%;
}

.offscreen {
  position: absolute;
   left: -9999px;
  text-indent: -9999px;
  visibility: hidden;
}

.-mobilehideinline,
.-mobilehide {
  display: none;
}

.home {
  .-pagehead {
    font-size: 7rem;         // h1
  }

  .-pagesubhead {
    font-size: 3.8rem;      // top slide h2
  }

  .-sectionhead {           // page h2
    font-size: 6rem;
    margin: 0;
    padding-bottom: .5em;
    text-transform: lowercase;
  }
}



.work, .page {            // .work = Sentegrity, Educare, &c. pages
                          // .page = How I Work, Testimonials
  .-pagehead {
    font-size: 4.3rem;    // h1
    margin-bottom: 0;
  }
  .-pagesubhead {
    font-size: 2.3rem;    // h2
    margin-top: 0;
  }
}


.-worktitle {
  font-size: 1.8rem;       // h3
  margin-top: .6em;
  margin-bottom: 0;
}

.-workdescrip {
  font-size: 1.44rem;       // h4
  margin-top: .1em;
}

.p.-small,
.-small {
  font-size: 1.5rem;
}

.p.-large,
.-large {
  font-size: 4rem;
}

.p.-medium,
.-medium {
  font-size: 2.5rem;
}

.b {
  color: $nearblack;
  @include transition(all,.2s,ease-in-out);
  @include hover { color: $red; @include transition(all,.2s,ease-in-out); }
}

.hilite {
  background: yellow;
  font-weight: 500;
  padding: .2em .3em;
}

.a {
  border-bottom: 1px dotted #111;
  color: #111;
  text-decoration: none;
  @include transition(all, .2s, ease-in-out);
  @include hover { border-bottom: 1px dotted transparent; color: $red; text-decoration: none;  @include transition(all,.1s,ease-in-out);}

  &.-alt {
    border-bottom: none;
    color: white;
    display: inline-block;
    font-family: sans-serif;
    font-size: .6em;
    letter-spacing: .05em;
    margin-top: 1em;
    position: relative;
    text-transform: uppercase;

    span { position: relative; z-index: 10; }

    @include hover {
      &:before { background: $red; }
    }

    &:before {
      display: block;
      content: '';
      width: calc(100% + 4em);
      height: calc(100% + .8em);
      border: .05em solid white;
      position: absolute;
       top: -.4em;
       left: -2em;
      z-index: 1;
      @include border-radius(2em);
      @include transition-one(background);

    }
  }
}

.img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

// hide images if they're not loaded
img:not([src]){
	@include opacity(0);
}


.nowrap {
  white-space: nowrap;
}


// cheat page anchors
// so scrollspy, smoothscroll
// and hard links to #links work
// smooth like butter
.anchor {
  display: block;
  position: relative;
   top: -50px;
  visibility: hidden;
}


.-txtcenter,
.-text-center {
  text-align: center;
}

.-txtright{
  text-align: right;
}


.p {
  font-size: 1.7rem;
  line-height: 1.44;
  margin-bottom: 1em;
}

.pform {
  @extend .p;
  margin-bottom: 0;
}

.-bigpadding {
  padding-top: 2em;
}



// Download Resume, How I Work, Testimonial buttons
.-ghost {
  background: red;
  border: 2px solid red;
  color: white;
  display: block;
  font-family: sans-serif;
  font-size: 1.2em;
  margin: .5em auto;
  padding-top: .5em;
  padding-bottom: .5em;
  text-transform: uppercase;
  @include border-radius(2em);
  @include transition(all,.1s,ease-in-out);

  -webkit-tap-highlight-color: transparent;
  //-webkit-tap-highlight-color: #ff4500;

  &.tap {
    background: transparent;
    color: red;
    text-decoration: none;
    @include transition(all,.2s,ease-in-out);
  }

  @include hover{
    background: transparent;
    color: red;
    text-decoration: none;
    @include transition(all,.2s,ease-in-out);
  }
}

// for How I Work and Testimonials desktop homepage links
.-samesize {
  width: 12em;
}

// for Download Resume, Submit, Back links
.-naturalsize {
  padding-right: 1.5em;
  padding-left: 1.5em;
}

// specifically to help H1 and VISIT THIS SITE play nice
// on work pages
.-desktopfloatleft {
  display: block;
  float: none;
}

.-desktopfloatright {
  display: block;
  float: none;
}

// specifically to turn arrow up on VISIT THIS SITE
// TURN UP
.-diagonal:before {
  display: block;
  @include transform(-45deg, 1, 0, 0, 0);
}

// for homepage parallax images
.picture {
  height: calc(100vh - 50px);
  min-height: 30em;
  background-size: cover;
  //background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 0;
}
