/* ------------------------
Nav
------------------------ */





// Variables
$navh: 3.125rem;


// Skip Nav
.skip-nav {
  background: $lightgrey;
  color: black;
  float: left;
  margin-top: .1rem;
  margin-right: unset;
  margin-bottom: unset;
  margin-left: .1rem;
  padding: .5rem 1rem;

  @include hover {
    width: auto;
    height: auto;
    clip: auto;
    margin: 0;
    overflow: visible;
    position: absolute;
     top: .05rem;
     left: .05rem;
    text-decoration: none;
   z-index: 999;
  }
}



// Actual Nav
.navbar {
  width: 100%;
  background: rgba(255,255,255,1);
  border-top: 0;
  border-right: 0;
  border-bottom: .05rem solid $lightgrey;
  border-left: 0;
  position: fixed;
   top: 0;
  z-index: 25;

  // hamburger button
  .navbar-toggle {
    background: transparent;
    border: none;

    position: relative;
    z-index: 20;

    @include transition-one(background);
    @include hover { background: $lightgrey; }

    .icon-bar {
      background-color: black;
      position: absolute;
       left: 10%;
    }
  }

  .navbar-brand {
    @include flex;
    position: relative;

    @include hover {
      &> .navbar-logo { @include animation(logrow, none, 1, .5s); }
    }
  }


  .navbar-collapse {      // .navbar-collapse = div container for ul.nav
    max-height: calc(100vh - #{$navh});
    background: white;

    .navbar-nav {       // .ul
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;

      .nav-li  {
        font-size: 1.666rem;
        text-transform: lowercase;

        &> .dropdown-menu {
          border: none;
          padding-top: 0;
          padding-bottom: 0;
          @include simple-box-shadow(0,0,0,transparent);

          &> .active > a {
            background: $lightgrey;
          }

          &> .dropdown-li {
            text-transform: none;
          }
        }
      }
    }
  }
}


.navbar-brand { padding-left: 2.25rem; }

.navbar-logo {
  width: 2rem;
  height: 2rem;
  position: absolute;
   left: 0;
 }

.navbar-name { font-size: 1.7rem; line-height: 0; }







// hover colors
.navbar-default {
  .navbar-brand,
  .navbar-nav > li a {
    color: black;
    @include transition(color, .15s, ease-in-out);
    @include hover { color: $red; @include transition(color, .15s, ease-in-out); }
  }
}




.work .navbar,
.page .navbar {
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-left: 0;
}






// Medium
@media (min-width: 48rem) {
  .navbar {

    .navbar-collapse {
      border-bottom: none;

      .navbar-nav {
        padding-top: 0;

        &> .nav-li {

          &.open > .dropdown-menu {
            border-right: 1px solid rgba(0,0,0,.1);
            border-bottom: 1px solid rgba(0,0,0,.15);
            border-left: 1px solid rgba(0,0,0,.1);
          }

          &.dropdown-menu > li {
            font-size: 1.85rem;   // subnav font size
          }
        }
      }
    }

    // Medium
    .navbar-brand > .navbar-name {
      font-size: 2.4rem;
    }
  }

  .nav-a {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

}




@media (min-width: 62em) {
  .navbar-nav { margin-right: -1.5rem; }
}
