/* ------------------------
Nav
------------------------ */


.work .navbar,
.page .navbar {
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-left: 0;
}

.navbar-default  { border: none; }


.home .navbar {
  background: rgba(255,255,255,0);            // transparent on top frame
  @include transition(all,.1s,ease-in-out);

  &.affix {
    background: rgba(255,255,255,1);          // opaque on scroll past top frame
    @include transition(all,.1s,ease-in-out);
  }

  &>.nav-container > .navbar-header > .navbar-brand {
    display: none;      // hide logo on mobile on top frame
  }

  &.affix-top {         // .affix-top = top frame
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid transparent;
    border-left: 0;
  }

  &.affix {             // .affix = scroll past top frame
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0,0,0,.1) !important;
    border-left: 0;

    &> .nav-container > .navbar-header > .navbar-brand {
      display: block;   // show logo on mobile after scroll past top frame
    }
  }
}






.navbar {
  width: 100%;
  background: rgba(255,255,255,1);
  position: fixed;
   top: 0;
  z-index: 25;
  @include border-radius(0);

  // hamburger button
  .navbar-toggle {
    border: none;

    // position:relative and z-index:20
    // so that collapsed nav is on top of spider image on mobile
    // and behind spider image on desktop
    position: relative;
    z-index: 20;
    @include hover { background: #eee; }

    .icon-bar {
      background-color: black;
    }
  }

  .navbar-brand {
    position: relative;
    z-index: 15;      // so logo shows on .navbar-toggle click while on top frame
    @include hover { &> .navbar-logo { @include cssanimate(logrow, none, 1, .5s); } }

    &> .navbar-logo {
      width: 1.7em;
      float: left;
      position: relative;
       top: -.3em;
       left: -.2em;
    }

    &> .navbar-name {
      font-size: 1.5em;
    }
  }


  .navbar-collapse {      // .navbar-collapse = div container for ul.nav
    width: 100%;
    background: white;
    border-bottom: 1px solid $ashblack;
    position: absolute;
     top: 0;
    @include box-shadow(inset,0,0,0,transparent);

    &> .navbar-nav {       // .ul
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 50px;

      &> li {
        font-size: 1.9rem;
        text-transform: lowercase;

        &> .dropdown-menu {
          border: none;
          padding-top: 0;
          padding-bottom: 0;
          @include simple-box-shadow(0,0,0,transparent);

          &> .active > a {
            background: $lightgrey;
          }

          &> li {
            font-size: 1.8rem;
            text-transform: none;
          }
        }
      }

      &> .open > .dropdown-menu > li > a {
        color: black;
        padding-top: .5em;
        padding-bottom: .5em;
        @include hover { color: $red; }
      }
    }
  }
}




// hover colors
.navbar-default {
  .navbar-brand,
  .navbar-nav>li>a {
    color: black;
    @include transition(color, .15s, ease-in-out);
    @include hover { color: $red; @include transition(color, .15s, ease-in-out); }
  }
}
