/* ------------------------
Pages
------------------------ */

.work, .page {
  padding-top: 50px;
}



/* * * * * * * * * * * * *
 How I Work / FAQs
* * * * * * * * * * * * */

.qna {
  padding: 1em 0;

  &> .q {
    font-size: 2.8rem;
    line-height: 1.2;
    margin-bottom: 0;
    padding-bottom: .5em;
  }
}



/* * * * * * * * * * * * *
Testimonials
* * * * * * * * * * * * */

.quotes-section {
  padding-top: 4em;

  &> .container > .row > .col-content {
    .quote {
      padding-bottom: 2em;

      &> .-medium {
        margin-bottom: .3em;
      }

      &> .attrib {
        &> .name {
          font-size: 1.95rem;
        }

        &> .org {
          font-size: 1.44rem;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }
    }

    // talker image

    .talker {
      padding-bottom: 2em;
    }


  }
}



/* * * * * * * * * * * * *
Work Pages
* * * * * * * * * * * * */

.carousel-section {
  padding-top: 2em;
  padding-bottom: 2em;

  // hide alt/title while images load
  img {
    color: white;
  }
}


/* * * * * * * * * * * * *
HTML Email
* * * * * * * * * * * * */

.email-section {
  padding-top: 4em;
  padding-bottom: 2em;

  .a {
    width: 90%;
    border: none;
    display: block;
    @include transition(all,.2s,ease-in-out);
    @include hover { &> .img { border-color: $red; @include transition(all,.2s,ease-in-out); } }

    &> .img {
      border: $lightgrey 1em solid;
    }
  }

  .responsive {
    position: relative;

    &:before {
      height: 1em;
      border-style: solid;
      border-width: 1em 0 0 1em;
      border-color: transparent transparent transparent crimson;
      content: '';
      font-size: 1.3em;
      position: absolute;
       top: 7em;
       right: -1em;
    }

    &:after {
      background: red;
      color: white;
      content: 'RESPONSIVE';
      font-family: sans-serif;
      font-size: 1.3em;
      padding: .6em .8em;
      position: absolute;
       top: 8em;
       right: -1em;
    }


  }
}
