// Sitemap

#sitemap {
	display: none;
	padding: 6em 0 3em;

	&> .wrapper {

		&> .sitemap-ul {
			width: 100%;
			list-style-type: none;
			margin: 0;
			padding: 2em 0 0;

			&> li:last-of-type {
				&:after {
					@include clear;
				}
			}

			&> .location {
				width: 100%;
				clear: left;
				display: block;
				font-size: 1.2em;
				text-align: center;

				&.nolink {
					padding: .5em 0;
				}

				&.title {
					font-size: 1.44em;
					letter-spacing: 2px;
					text-transform: uppercase;
				}

				&> .link {
					width: 100%;
					border: none;
					display: block;
					float: left;
					padding-top: .5em;
					padding-bottom: .5em;

					&.current {
						color: red;
					}
				}
			}
		}
	}

	&:after {
		@include clear;
	}
}


#social.wrapper > .ul {
	width: 100%;
	list-style-type: none;
	margin-left: -2%;
	padding-left: 0;
	position: absolute;
	 top: 50%;
	transform:translateY(-50%);
	text-align: center;

	&> .li {
		display: inline-block;
		margin: 0 .3em;

		&> .a {
			background: rgba(0,0,0,.6	);
			border: 2px solid white;
			color: white;
			font-size: 1.7em;
			padding: .41em .5em;
			@include border-radius(2em);
			@include transition(all, .2s, ease-in-out);
			@include hover { background: red; color: white; @include transition(all, .2s, ease-in-out); }

			&> .fa {
				width: 1em;
				display: inline-block;
			}
		}
	}
}
