// Sitemap

#sitemap {
	padding: 6em 0 3em;

	&> .wrapper {

		&> .sitemap-ul {
			width: 100%;
			list-style-type: none;
			margin: 0;
			padding: 2em 0 0;

			&> li:last-of-type {
				&:after {
					@include clear;
				}
			}

			&> .location {
				width: 100%;
				clear: left;
				display: block;
				font-size: 1.2em;
				text-align: center;

				&.nolink {
					padding: .5em 0;
				}

				&.title {
					font-size: 1.44em;
					letter-spacing: 2px;
					text-transform: uppercase;
				}

				&> .link {
					width: 100%;
					border: none;
					display: block;
					float: left;
					padding-top: .5em;
					padding-bottom: .5em;

					&.current {
						color: red;
					}
				}
			}
		}
	}

	&:after {
		@include clear;
	}
}
