// Testimonials

#testimonials {

	&> .quote:first-child {
		padding-top: 2em;
	}

	&> .quote:last-child {
		padding-bottom: 2em;
	}

	&> .quote {
		line-height: 1.44;
		padding-bottom: 5em;

		&> .p {
			margin: 0;
		}

		&> .-huge {
			font-size: 1.7em;
			padding-bottom: 0;
		}

		&> .-slightlylarge {
			font-size: 1em;
		}

		&> .attrib {
			padding-top: 0;

			&> .name {
				font-size: 1.2em;
			}
			&> .org {
				letter-spacing: 1px;
			}
		}
	}
}
