
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /papa/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /papa/index.php [L]

RewriteCond %{SERVER_PORT} 80
RewriteCond %{REQUEST_URI} folder
RewriteRule ^(.*)$ https://www.ericadreisbach.com/$1 [R=301,L]

</IfModule>


ErrorDocument 404 /error
