<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /hscpapa/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /hscpapa/index.php [L]
</IfModule>
